.news-container{
	background-color: white;
	margin: 30px 0px;
}
.title-box{
	margin: 30px 70px;
}
.sharing-box{
	margin: 15px 85px;
	height: 50px;
	width: 100%;
}
.sharing-btn{
	float: left;
}
.sharing-btn img{
	height: 35px;
	width: 35px;
	margin-right: 10px;
}
.foto-box{
	width: 100%;
	display: block;
	margin: 10px auto;
}
.foto-box img{
	display: block;
	width: 80%;
	height: auto;
	margin: 0px auto;
}
.content-box{
	display: block;
	width: 80%;
	height:auto;
	font-size:13;
	margin: 0px auto;
	text-indent: 30px;
}

.berita-terkait{
	background-color: white;
	margin-top: 15px;
	margin-left: 85px;
	margin-bottom: 15px;
}
.berita-terkait ul li{
	list-style-type: none;
	border-bottom:1px solid black;
	width: 500px;

}

.form-comment{
	width: 600px;
}
.button-send{
	width: 100px;
	height: 30px;
	padding: 0;
	margin-left: 500px;
	margin-top: 20px;
}