.newsbox{
	margin: 30px 0px;
}

.newsh{
	width: 100%;
	height: 500px;
	background-color: white;
	background-image: url("../img/gunungagung.jpg");
	background-size: cover;
	position: relative;
}

.newsh-title{
	margin-left: 20px;
	color: white;
	position: absolute;
	bottom: 0;
}

.news{
	width: 100%;
	height: 150px;
	margin-top: 15px;
	background-color: white;
}

.wrap-news-img{
	width: 100%;
	height: 100%;
	max-width: 200px;
	padding: 0;
}

.wrap-news-img img{
	width: 100%;
	height: 100%;
}
.tombol{
	height: 34px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inherit;
    line-height: 34px;
    padding: 0;
}

/*POPULAR NEWS*/
.pnews-box{
	padding: 0px;
	background-color: #eaeaea;
	height: 50px;
}
.pnews-number{
	padding-top: 15px;
	height: 100%;
	border-bottom: 1px solid white;
}
.pnews-title{
	padding-top: 15px;
	height: 100%;
	border-bottom: 1px solid white;
}
.anews{
	margin-top: 50px;
}