.newsbox{
	margin: 30px 0px;
}

.newsh-title{
	margin-left: 20px;
	color: white;
	position: absolute;
	bottom: 0;
}

a:link{
	color: white;
}

a:hover{
	color:#b5593b;
	text-decoration: none;
}
.carousel-inner{
	height: 465px;
}
.news-row{
	width:100%;
	height: 200px;
	margin-top:15px;
	margin-left:0;
	padding: 0;
}
.news-row img{
	height:200px;
	width: 100%;
}
.item img{
	width: 100%;
	height: 100%;
}

.border-row{
	border-left: 5px solid #ecf0f1;
	border-right: 5px solid #ecf0f1;
}

.zero-padding{
	padding: 0;
}

.back-title{
	height: 50px;
	width: 100%;
	background-color: #000000C0;
	position: absolute;
	bottom: 0;
	padding: 0px 5px;
}

.news-row h5{
	color:white;
	text-align: center;
}

.news{
	width: 100%;
	height: 150px;
	margin-top: 15px;
	background-color: white;
}

.border-news{
	height: 200px;
	border-left: 5px solid #eaeaea;
	border-right: 5px solid #eaeaea;
}

.wrap-news-img{
	width: 100%;
	height: 100%;
	max-width: 200px;
	padding: 0;
}

.wrap-news-img img{
	width: 100%;
	height: 100%;
}
.tombol{
	height: 34px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: inherit;
    line-height: 34px;
    padding: 0;
}

/*POPULAR NEWS*/
.pnews-box{
	padding: 0px;
	background-color: white;
	height: 50px;
}
.pnews-number{
	padding-top: 15px;
	height: 100%;
	border-bottom: 1px solid #eaeaea;
}
.pnews-title{
	padding-top: 15px;
	height: 100%;
	border-bottom: 1px solid #eaeaea;
}
.anews{
	margin-top: 50px;
}


.buton{
	max-width: 100px;
	
}