.container{
	width: 100%;
	margin: 0;
}
.max-width-calendar{
	max-width: 880px;
	margin:auto;
}
.e-lingang-content{
	margin: 0;
	padding: 30px;
	background-color: #ecf0f1;
}
.content-color{
	overflow: hidden;
	margin:auto;
	max-width: 780px;
	padding: 20px;
	background-color: white;
}
.fc-day-number{
	font-size: 30px;
}
.fc-sun{
	color: red;
}
.fc-unthemed td.fc-today{
	background-color: #b5593b;
	color: white;
}
.btn-close{
	float: right;
	padding: 5px 10px;
	height: 40px;
}
.modal-body{
	padding: 10px 80px;
}
.fc-time{
	display: none;
}
.fc-event{
	text-align: center;
	padding: 5px;
	background-color: #5cb85c;
	border-color: #5cb85c;
}