.baris_satu{
	background-color:white;
	height: 40px;
	margin: 20px auto;
}
.title-berita{
	height: 100%;
}
.title-berita input{
	height: 100%;
}
.logo-berita{
	display: block;
	height:100%;
	background-color:white;
	margin: auto 0px;
}
.logo-berita img{
	display: block;
	height:30px;
	width:30px;
	margin: auto 0px;
}
.toolbar{
	background-color: black;
	height:50px;
}
.button-send{
	width: 100px;
	height: 50px;
	padding: 0;
}
.deskripsi{
	background-color: red;
}