/*PANEL*/
*{
	box-sizing: border-box;
}
@font-face{
	font-family: "Gotham";
	font-weight: 200;
	src: url("../fonts/Gotham-Light.otf");
}

@font-face{
	font-family: "Gotham";
	font-weight: 400;
	src: url("../fonts/Gotham-Medium.otf");
};

@font-face{
	font-family: "Gotham";
	font-weight: 700;
	src: url("../fonts/Gotham-Bold.TTF");
}

body{
	font-family: "Gotham";
	font-weight: 200;
}

.navbar-custom{
	border:0;
	margin-bottom: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: #FFF;
}

#hero{
	height: 100vh;
	background-color: rgba(0,0,0,.65);
	background-image: url("../img/hero.jpg");
	background-size: cover;
	background-blend-mode: soft-light;
	background-position: center center;
}

#hero h1{
	margin: 0 auto;
	color: #FFF;
}

#hero .btn{
	margin-top: 30px;
}

.icon-sidebar{
	width: 18px;
	height: 18px;
}

#sign-in{
	background-color: #b5593b;
}

#sign-in > a{
	color: #FFF;
}

.navbar-brand > img{
	width: 30px;
	float: left;
	position: relative;
    top: -5px;
}

.navbar-brand > span{
	float: left;
	margin-left: 5px;
}

.tb{
	display: table;
	width: 100%;
	height: 100%;
}

.tbc{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.btn{
	width: 100%;
	height: 100%;
	border-radius: 0px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 15px 5px;
	outline: 0;
	transition: background-color 100ms ease-in, color 100ms ease-in;
}

.btn-default{
	background-color: transparent;
	color: #FFF;
	border:0px solid;
}

.btn-default:hover{
	background-color: #FFF;
	border:0px solid;
}

#about{
	padding: 40px 0 60px 0;
}

.title{
	margin-bottom: 30px;
	font-size: 30px;
}

#working{
	background-color: #b5593b;
	padding: 40px 0 60px 0;
	color: #FFF;
}

#stats{
	background-color: #CA6924;
}

.img-stats{

}

.sidebar-wrapper {
	padding-top: 50px; 	
	left: 0px;
	width: 100px;
	background: #8a3e26;
	position: fixed;
	height: 100%;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

.page-content-wrapper {
	padding-left: 100px;
	padding-top: 35px;
  	width: 100%;
}

.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0 10px;
}

.sidebar-nav li {
	margin-top: 10px;
	height: 70px;
}

.sidebar-nav li a{
	display: block;
	color: #000;
	text-decoration: none;
	background-color: #FFF;
}
.sidebar-nav li a span{
	width: 100%;
}

.sidebar-nav li a p{
	font-size: 11px;
}

.lapor-box{
	background-color: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 30px;
	margin: 40px 0;
}
/*.circle-photo{
	margin: auto;
	background-color: white;
	width: 100px;
	height: 100px;
	border: 0px solid;
	border-radius: 50px;
	overflow: hidden;
}
.circle-photo img{
	display: block;
	width: 100%;
	height:100%;
}*/