/* style fontnya bro */
@font-face{
	font-family: "Gotham";
	font-weight: 200;
	src: url("../fonts/Gotham-Light.otf");
}

@font-face{
	font-family: "Gotham";
	font-weight: 400;
	src: url("../fonts/Gotham-Medium.otf");
};

@font-face{
	font-family: "Gotham";
	font-weight: 700;
	src: url("../fonts/Gotham-Bold.TTF");
}

body{
	font-family: "Gotham";
	font-weight: 200;
}

.work h4, .work .fa{
	color: #b5593b;
}

.work{
	background-color: #FFF;
	padding: 40px 10px;
	height: 255px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.work .fa{
	font-size: 68px;
}

.work h4{
	font-size: 22px; 
}

.work p{
	font-size: 15px;
}

.navbar-custom{
	border:0;
	margin-bottom: 0;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: #FFF;
	font-weight: 400;
}

#hero{
	height: 100vh;
	background-color: rgba(0,0,0,.65);
	background-image: url("../img/hero1.jpg");
	background-size: cover;
	background-blend-mode: soft-light;
	background-position: center center;
	padding-top: 50px;
}

#hero .img-logo{
	background-color: #b5593b;
    display: inline-block;
    border-radius: 50%;
    padding: 2%;
    border: 3px solid #fff;
}

#hero .img-logo > img{
	position: relative;
    top: -15px;
    width: 125px;
}

#hero h4{
	margin-top: 20px;
	color: #eaeaea;
}

#hero h1{
	margin: 0 auto;
	color: #FFF;
	margin-top: 20px;
}

#hero .btn{
	margin-top: 20px;
}

#sign-in{
	background-color: #b5593b;
}

#sign-in > a{
	color: #FFF;
}

p{
	font-size: 20px;
	color: #a2a2a2;
}

.navbar-brand > img{
	width: 30px;
	float: left;
	position: relative;
    top: -5px;
}

.navbar-brand > span{
	float: left;
	margin-left: 5px;
}

.tb{
	display: table;
	width: 100%;
	height: 100%;
}

.tbc{
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.navbar-brand{
	padding: 25px 15px;
}

.btn{
	border-radius: 30px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 10px 15px;
	outline: 0;
	transition: background-color 100ms ease-in, color 100ms ease-in;
}

.btn-default{
	background-color: transparent;
	color: #FFF;
	border:3px solid #FFF;
}

.btn-default:hover{
	background-color: #FFF;
	border:3px solid #FFF;
}

#about{
	padding: 60px 0;
	height: calc(100vh - 50px);
}

#feature{
	padding: 60px 0;
	background-color: #eaeaea;
	position: relative;
}

.img-feature{
	border-radius: 50%;
	border: 3px solid #b5593b;
	height: 150px;
	width: 150px;
	line-height: 145px;
}

.img-feature img{
	width: 100px;
}

.triangle{
	height: 110px;
    width: 100%;
    position: absolute;
	top: -105px;
	background-image: url("../img/triangle.png");
	background-position: center center;
	background-size: cover;
}

.title{
	font-size: 58px;
	position: relative;
}

.contain-title{
	margin-bottom: 120px;
}

.contain-title::after{
	content: " ";
    position: relative;
    width: 80px;
    height: 5px;
    background-color: #CA6924;
    bottom: 0;
    margin: 0 auto;
    display: block;
	top: 20px;
}

.navbar-toggle{
	border:0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #000;
}

.title-small{
	color: #5d5d5d;
	font-weight: 200;
	font-size: 28px;
}
#feature p{
	font-size: 20px;
}

#working{
	padding: 60px 0;
	background-image: url("../img/working.jpg");
	background-position: center center;
	background-size: cover;
	background-blend-mode: soft-light;
	background-color: rgba(0,0,0,.65);
	color: #FFF;
	background-attachment: fixed;
}

#contact{
	padding: 60px 0;
	background-color: #b5593b;
	color: #FFFFFF;
}

.desc-contact{
	text-align: left;
	padding-left: 40px;
}

.desc-contact span{
	font-size: 28px;
	margin-bottom: 10px;
	display: block;
}

.desc-contact span i{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	border: 2px solid #fff;
	text-align: center;
}
.form-contact{
	background-color: #FFF;
	text-align: left;
	color: #000;
	padding: 30px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	border-radius: 15px;
}

input.form-control{
	border: 0px;
	border-radius: 30px;
	padding: 20px 15px;
	border: 1px solid #cacaca;
}

#footer{
	color: #FFF;
	padding: 40px 0;
	text-align: center;
	background: linear-gradient(141deg, #232323 0%, #4e4e4e 51%, #525252 75%);
}

/* loginnya bos */
.container-login{
	background: linear-gradient(141deg, #b5593b 0%, #9e4326 51%, #752b13 75%);
	height: 100vh;
}

.login-box{
	width: 350px;
	margin: 0 auto;
}

/* atur resposive */
@media (min-width: 768px){
	.navbar-nav>li>a {
		padding-top:25px;
		padding-bottom: 25px;
	}
}

@media (max-width: 768px){
	.navbar-brand{
		padding: 15px;
	}
}

@media (max-width: 350px){
	.login-box{
		width: 100%;
		padding: 0 20px;
	}
}