/* style fontnya bro */
@font-face{
	font-family: "Gotham";
	font-weight: 200;
	src: url("../fonts/Gotham-Light.otf");
}

@font-face{
	font-family: "Gotham";
	font-weight: 400;
	src: url("../fonts/Gotham-Medium.otf");
};

@font-face{
	font-family: "Gotham";
	font-weight: 700;
	src: url("../fonts/Gotham-Bold.TTF");
}

*{
    box-sizing: border-box;
}

body{
	font-family: "Gotham";
    font-weight: 200;
    background-color: #f9f9f9;
}


.navbar-brand > img{
	width: 30px;
	float: left;
	position: relative;
    top: -5px;
}

.navbar-brand span{
    font-size: 0.8em;
    font-weight: 500;
    margin-left: 5px;
    color: #863c10;
}

#navbar-custom .navbar-toggle{
    margin: 8px 0px 8px 0px;
    float: left;
    display: block;
    position: absolute;
    left: 225px;
}

#navbar-custom .navbar-toggle{
    border-color: transparent;
}

#navbar-custom .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
}

#navbar-custom .navbar-toggle .icon-bar{
    background-color: #000;
    width: 15px;
}

#navbar-custom{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

#aside{
    position: fixed;
    width: 250px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #FFF;
    z-index: 200;
}

#menu{
    margin: 70px 0 0 0;
    padding: 0;
    list-style-type: none;
}

#menu li a{
    color: #000;
    text-decoration: none;
    padding: 15px 0 15px 20px;
    display: block;
    font-size: 15px;
    font-weight: 500;
}

#menu i.fa{
    margin-right: 5px;
    width: 20px;
    font-size: 18px;
    color: #863c10;
}

#menu .active{
    background-color: #94481b;
    color: #FFF;
}

#menu .active i{
    color: #FFF;
}

#sign-in{
    background-color: #94481b;
}

#sign-in a{
    color: #FFF;
}

.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #94481b;
    overflow: hidden;
}
.user-name{
    text-align: center;
    font-weight: 500;
    margin: 10px 0 20px 0;
}
.img-preview{
    max-width: 250px;
}
#content{
    background-color: #f9f9f9;
    padding: 66px 0 0 250px;
    max-width: 100%;    
}

#content > .container-fluid{
    padding: 0px 30px;
}

.top-content{
    margin-bottom: 15px;
}

.top-content .breadcrumb{
    display: inline-block;
}

span.text-error{
    color: red;
}

.top-content h3{
    float: left;
    padding: 0px;
    margin-top: 10px;
}

.top-content ol{
    float: right;
    background-color: transparent;
    padding: 12px 15px 0 15px;
    margin-bottom: 0px;
}

.top-content ol a{
    color: #002544;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000;
    opacity: 0.5;
    display: none;
    z-index: 100;
}

.button-action{
    margin: 20px 0;
}

/* responsivenya bos */

@media(max-width: 768px){
    #aside{
        display: none;
    }
    #content{
        padding: 66px 0 0 0px
    }

    #navbar-custom .navbar-toggle{
        margin: 8px 0px 8px 0px;
    }
}

@media (min-width: 768px){
    .carousel-indicators {
        top: 20px;
        bottom: initial;
    }
}
/* custom bs */
.modal{
    top: 51px;
}